@model bgs.Models.Sleeve

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sleeve</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SleeveSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SleeveSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMYK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMYK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RGB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RGB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
