@model bgs.Models.Product

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            @Model.ProductName
        </h3>
    </div>

    <div class="panel-body">
        <strong>Product Code:</strong> @Model.ProductCode<br />
        <strong>Price:</strong> @Model.Price<br />
        <img src="@Model.ImageUrl" alt="@Model.ProductName" style="width:100px" />
    </div>
</div>
