@model bgs.Models.Product

<div class="col-md-4">

    <strong>Name:</strong> @Model.ProductName<br />
    <strong>Product Code:</strong> @Model.ProductCode<br />
    <strong>Price:</strong> @Model.Price<br />
    <strong>@Model.ImageUrl</strong>
    <img src="@Model.ImageUrl" alt="@Model.ProductName" style="width:100px" />
</div>