@using bgs.Models

@model bgs.Models.Product

@*
    Shared view used to display product summary.
*@

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Model.ProductName
            </h3>
        </div>

        <div class="panel-body">
            <div class="col-md-2">
                <img src="@Model.ImageUrl" alt="@Model.ProductName" style="width:100px" />
            </div>

            <div class="col-md-6">
                <strong>Product Code:</strong> @Model.ProductCode<br />
                <strong>Price:</strong> @Model.Price<br />
                <strong>Fits cards measuring (width x height):</strong> @( (Model.ProductSize as SleeveSize).FitCardDim.Width )mm x @( (Model.ProductSize as SleeveSize).FitCardDim.Height )mm<br />
                <strong>Games that fit:</strong>
                @{
                    if (Model.FitsGames.Count > 0)
                    {
                        <br />
                        <ul style="white-space:nowrap">
                            @foreach (ProductFitGame pfg in Model.FitsGames)
                            {
                                <li>@pfg.Game.GameName</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <text>None</text>
                    }
                }
            </div>

            <div class="col-md-4">
                @using (Html.BeginForm("AddToCart", "Cart"))
                {
                    @Html.Hidden("ProductId", Model.ProductId)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <div>
                        @Html.DropDownList("Qty", new SelectList(Enumerable.Range(1, 20)))
                    </div>
                    <div>
                        <input type="submit" class="btn btn-success" value="Add to cart" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
