@model bgs.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.GameName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductsFit)
        </dt>
        <dd>
            <table>
                @foreach (var pf in Model.ProductsFit)
                {
                    @Html.Partial("GameProductRelation", pf)
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { area = "Admin", id = Model.GameId }, new { @class = "btn btn-default btn-sm" })
    @Html.ActionLink("Add relation", "Create", "ProductFitGames", new { area = "Admin", id = Model.GameId }, new { @class = "btn btn-default btn-sm" })
    @Html.ActionLink("Back to list", "Index", new { area = "Admin" }, new { @class = "btn btn-default btn-sm" })
</p>
