@model bgs.Models.Product

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>@Model.ProductName</h4>
    <hr />

    <div class="panel-body">
        <div class="col-md-1">
            <img src="@Model.ImageUrl" alt="@Model.ProductName" style="width:100px" />
        </div>
        <div class="col-md-11">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ProductCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProductSize.ProductSizeText)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductSize.ProductSizeText)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Weight)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Barcode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Barcode)
                </dd>

            </dl>
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Products", new { id = Model.ProductId }, new { @class = "btn btn-default btn-sm" })
    @Html.ActionLink("Back to List", "Index", "Products", new { area = "Admin" }, new { @class = "btn btn-default btn-sm" })
</p>
